@import "styles/app";



.categoryLink {
  margin-bottom: 0;
  & > a {
    color: $text-color;
  }
}

.categroryWrapper {
  cursor: pointer;
  &:hover, &:focus {
    a, p {
      color: var(--primary-color)
    }
  }
}
.categoryAmount {
  font-weight: bold;
  margin-bottom: 0;
}

.blogPostImgWrap {
  height: 500px;
  display: inline-block;
  & > img {
    height: 100%;
    object-fit: cover;
  }
}

.post_date {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height, or 150% */
  
  
  /* Basic 500 */
  
  color: #9D9D9D;
}

.post_title {
  & > h4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    /* identical to box height, or 180% */


    /* Basic 900 */

    color: #262626;
  }
}

.author_name {
  margin-top: 32px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: var(--primary);
  display: inline-block;
}

.post_epigraph {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 8px 0 0 0;
  word-wrap: break-word;
  /* or 150% */
  
  
  /* Basic 900 */
  
  color: #262626;
  
  mix-blend-mode: normal;
}

.blogPost {
  margin-bottom: 60px;
}

$color_1: #bd744c;

.anc__col_inner {
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 1px;
}
.anc__col_cover {
  position: relative;
  &::before {
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  }
}
.annc__col_info {
	h5 {
		margin: 10px 0 0 0;
	}
	h6 {
		margin: 10px 0 0 0;
	}
}

.about_item {
	p {
		font-size: 16px;
		line-height: 26px;
		font-weight: 500;
		margin-bottom: 5px;
	}
}
.about_item {
	a {
    color: #000;
  }
}

.about_item {
  p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
  }
  i {
    font-size: 42px;
    transition: 0.3s;
  }
}
.about_item {
	&:hover {
		i {
			color: $color_1;
			transform: translateY(-10px);
		}
	}
}




.company__timeline_container {
  position: relative;
  &:before {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -1px;
		width: 2px;
		height: 100%;
		background: #bd744c;
		z-index: 1;
	}
}

.timeline_block {
	width: -webkit-calc(50% + 8px);
	width: -moz-calc(50% + 8px);
	width: calc(50% + 8px);
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	justify-content: space-between;
	clear: both;
}
.timeline_block_right {
	float: right;
}
.timeline_block_left {
	float: left;
	direction: rtl;
}
.marker {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 2px solid #bd744c;
	background: #bd744c;
	margin-top: 10px;
	z-index: 9999;
}
.timeline_content {
	width: 95%;
	padding: 0 15px;
	color: #666;
	h3 {
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 25px;
		font-weight: 500;
	}
	span {
		font-size: 15px;
		color: #a4a4a4;
	}
	p {
		font-size: 14px;
		line-height: 1.5em;
		word-spacing: 1px;
		color: #888;
	}
}


@media screen and (max-width: 768px) {
	.company__timeline_container {
		&:before {
			left: 28px;
			width: 2px;
		}
	}
	.timeline_block {
		width: 100%;
		margin-bottom: 30px;
	}
	.timeline_block_right {
		float: none;
	}
	.timeline_block_left {
		float: none;
		direction: ltr;
	}
}